--
-- PostgreSQL database dump
--

\restrict RNB0ggUkayFcku6QAfH3D0uWcMEW7JfNbqAtOdRppf25Tb3w8xfpOzttQ1QYAbi

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: allegati_movimenti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.allegati_movimenti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    movimento_id uuid NOT NULL,
    nome_file character varying(255) NOT NULL,
    tipo_file character varying(50) NOT NULL,
    dimensione_kb integer,
    path_file character varying(500) NOT NULL,
    note text,
    uploaded_by uuid,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.allegati_movimenti OWNER TO parrocchia;

--
-- Name: attivita_pastorali; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.attivita_pastorali (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid,
    nome character varying(255) NOT NULL,
    tipo character varying(50),
    descrizione text,
    attivo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT attivita_pastorali_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['individuale'::character varying, 'familiare'::character varying, 'gruppo'::character varying])::text[])))
);


ALTER TABLE public.attivita_pastorali OWNER TO parrocchia;

--
-- Name: battesimi; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.battesimi (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    persona_id uuid NOT NULL,
    ente_id uuid NOT NULL,
    data_battesimo date NOT NULL,
    luogo character varying(255),
    parrocchia character varying(255),
    volume character varying(50),
    pagina character varying(50),
    numero_atto character varying(50),
    celebrante character varying(255),
    padrino character varying(255),
    madrina character varying(255),
    note text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.battesimi OWNER TO parrocchia;

--
-- Name: beni_inventario; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.beni_inventario (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    categoria_id uuid,
    codice character varying(50),
    nome character varying(255) NOT NULL,
    descrizione text,
    ubicazione character varying(255),
    valore_acquisto numeric(10,2),
    data_acquisto date,
    stato character varying(50),
    foto_url character varying(500),
    note text,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT beni_inventario_stato_check CHECK (((stato)::text = ANY ((ARRAY['buono'::character varying, 'discreto'::character varying, 'cattivo'::character varying, 'da restaurare'::character varying])::text[])))
);


ALTER TABLE public.beni_inventario OWNER TO parrocchia;

--
-- Name: categorie_inventario; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.categorie_inventario (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    nome character varying(100) NOT NULL,
    descrizione text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.categorie_inventario OWNER TO parrocchia;

--
-- Name: categorie_registri; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.categorie_registri (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    categoria_id uuid NOT NULL,
    registro_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.categorie_registri OWNER TO parrocchia;

--
-- Name: comuni; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.comuni (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nome character varying(100) NOT NULL,
    provincia character varying(2) NOT NULL,
    cap character varying(5),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.comuni OWNER TO parrocchia;

--
-- Name: cresime; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.cresime (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    persona_id uuid NOT NULL,
    ente_id uuid NOT NULL,
    data_cresima date NOT NULL,
    luogo character varying(255),
    parrocchia character varying(255),
    volume character varying(50),
    pagina character varying(50),
    numero_atto character varying(50),
    ministro character varying(255),
    padrino character varying(255),
    madrina character varying(255),
    note text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.cresime OWNER TO parrocchia;

--
-- Name: defunti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.defunti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    persona_id uuid NOT NULL,
    ente_id uuid NOT NULL,
    data_morte date NOT NULL,
    luogo_morte character varying(255),
    causa_morte text,
    luogo_sepoltura character varying(255),
    data_funerale date,
    celebrante character varying(255),
    note text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.defunti OWNER TO parrocchia;

--
-- Name: enti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.enti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tipo character varying(50) DEFAULT 'Parrocchia'::character varying NOT NULL,
    denominazione character varying(255) NOT NULL,
    codice_fiscale character varying(16),
    partita_iva character varying(11),
    indirizzo character varying(255),
    cap character varying(10),
    frazione character varying(100),
    comune character varying(100),
    provincia character varying(2),
    regione character varying(100),
    telefono character varying(20),
    fax character varying(20),
    email character varying(100),
    sito_web character varying(200),
    parroco character varying(200),
    vicario character varying(200),
    diocesi character varying(200),
    diocesi_id uuid,
    anno_fondazione integer,
    santo_patrono character varying(200),
    numero_abitanti integer,
    attivo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    vescovo character varying(200)
);


ALTER TABLE public.enti OWNER TO parrocchia;

--
-- Name: famiglie; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.famiglie (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    cognome character varying(100),
    indirizzo character varying(255),
    cap character varying(10),
    comune character varying(100),
    provincia character varying(2),
    telefono character varying(20),
    note text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.famiglie OWNER TO parrocchia;

--
-- Name: matrimoni; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.matrimoni (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    sposo_id uuid NOT NULL,
    sposa_id uuid NOT NULL,
    ente_id uuid NOT NULL,
    data_matrimonio date NOT NULL,
    luogo character varying(255),
    parrocchia character varying(255),
    volume character varying(50),
    pagina character varying(50),
    numero_atto character varying(50),
    celebrante character varying(255),
    testimone1_sposo character varying(255),
    testimone2_sposo character varying(255),
    testimone1_sposa character varying(255),
    testimone2_sposa character varying(255),
    rito character varying(50),
    note text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.matrimoni OWNER TO parrocchia;

--
-- Name: movimenti_allegati; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.movimenti_allegati (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    movimento_id uuid NOT NULL,
    nome_file character varying(255) NOT NULL,
    nome_originale character varying(255) NOT NULL,
    tipo_file character varying(100) NOT NULL,
    dimensione integer NOT NULL,
    percorso text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.movimenti_allegati OWNER TO parrocchia;

--
-- Name: movimenti_contabili; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.movimenti_contabili (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    registro_id uuid NOT NULL,
    conto_id uuid,
    data_movimento date NOT NULL,
    numero_documento character varying(50),
    causale text NOT NULL,
    importo numeric(10,2) NOT NULL,
    tipo character varying(10),
    metodo_pagamento character varying(50),
    beneficiario character varying(255),
    note text,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    tipo_movimento character varying(10),
    allegati jsonb DEFAULT '[]'::jsonb,
    updated_at timestamp without time zone DEFAULT now(),
    categoria_id uuid,
    descrizione text,
    rendiconto_id uuid,
    bloccato boolean DEFAULT false,
    tipo_speciale character varying(50) DEFAULT NULL::character varying,
    riporto_saldo boolean DEFAULT false,
    CONSTRAINT movimenti_contabili_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['entrata'::character varying, 'uscita'::character varying])::text[]))),
    CONSTRAINT movimenti_contabili_tipo_movimento_check CHECK (((tipo_movimento)::text = ANY ((ARRAY['entrata'::character varying, 'uscita'::character varying])::text[])))
);


ALTER TABLE public.movimenti_contabili OWNER TO parrocchia;

--
-- Name: COLUMN movimenti_contabili.tipo_speciale; Type: COMMENT; Schema: public; Owner: parrocchia
--

COMMENT ON COLUMN public.movimenti_contabili.tipo_speciale IS 'NULL=movimento normale, saldo_iniziale=riporto da periodo precedente';


--
-- Name: COLUMN movimenti_contabili.riporto_saldo; Type: COMMENT; Schema: public; Owner: parrocchia
--

COMMENT ON COLUMN public.movimenti_contabili.riporto_saldo IS 'TRUE se ├¿ un movimento di saldo iniziale';


--
-- Name: parrocchie_diocesi; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.parrocchie_diocesi (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    comune character varying(100) NOT NULL,
    denominazione character varying(200) NOT NULL,
    provincia character varying(2) NOT NULL,
    cap character varying(5),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    diocesi character varying(200)
);


ALTER TABLE public.parrocchie_diocesi OWNER TO parrocchia;

--
-- Name: persone; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.persone (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    cognome character varying(100) NOT NULL,
    nome character varying(100) NOT NULL,
    secondo_nome character varying(100),
    sesso character(1),
    data_nascita date,
    luogo_nascita character varying(100),
    comune_nascita character varying(100),
    provincia_nascita character varying(2),
    cittadinanza character varying(100) DEFAULT 'Italiana'::character varying,
    codice_fiscale character varying(16),
    indirizzo character varying(255),
    frazione character varying(100),
    cap character varying(10),
    comune character varying(100),
    provincia character varying(2),
    residente boolean DEFAULT true,
    telefono character varying(20),
    cellulare character varying(20),
    email character varying(100),
    parrocchia_appartenenza_id uuid,
    stato_civile character varying(50),
    professione character varying(100),
    titolo_studio character varying(100),
    vivente boolean DEFAULT true,
    data_morte date,
    note text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    created_by uuid,
    CONSTRAINT persone_sesso_check CHECK ((sesso = ANY (ARRAY['M'::bpchar, 'F'::bpchar])))
);


ALTER TABLE public.persone OWNER TO parrocchia;

--
-- Name: persone_attivita; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.persone_attivita (
    persona_id uuid NOT NULL,
    attivita_id uuid NOT NULL,
    data_inizio date,
    data_fine date,
    incarico character varying(100),
    note text
);


ALTER TABLE public.persone_attivita OWNER TO parrocchia;

--
-- Name: persone_famiglie; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.persone_famiglie (
    persona_id uuid NOT NULL,
    famiglia_id uuid NOT NULL,
    parentela character varying(50),
    ordine integer DEFAULT 0
);


ALTER TABLE public.persone_famiglie OWNER TO parrocchia;

--
-- Name: piano_conti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.piano_conti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    codice character varying(20) NOT NULL,
    descrizione character varying(255) NOT NULL,
    tipo character varying(50),
    categoria character varying(50),
    livello integer NOT NULL,
    conto_padre_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    is_sistema boolean DEFAULT false,
    categoria_padre_id uuid,
    ordine integer DEFAULT 0,
    attivo boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT piano_conti_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['economico'::character varying, 'patrimoniale'::character varying])::text[])))
);


ALTER TABLE public.piano_conti OWNER TO parrocchia;

--
-- Name: prime_comunioni; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.prime_comunioni (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    persona_id uuid NOT NULL,
    ente_id uuid NOT NULL,
    data_comunione date NOT NULL,
    luogo character varying(255),
    parrocchia character varying(255),
    celebrante character varying(255),
    note text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.prime_comunioni OWNER TO parrocchia;

--
-- Name: registri_contabili; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.registri_contabili (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(50),
    saldo_attuale numeric(10,2) DEFAULT 0,
    attivo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    descrizione text,
    CONSTRAINT registri_contabili_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['cassa'::character varying, 'banca'::character varying, 'postale'::character varying, 'debito'::character varying, 'credito'::character varying, 'prepagata'::character varying, 'deposito'::character varying, 'risparmio'::character varying, 'polizza'::character varying, 'titoli'::character varying])::text[])))
);


ALTER TABLE public.registri_contabili OWNER TO parrocchia;

--
-- Name: rendiconti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.rendiconti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ente_id uuid NOT NULL,
    periodo_inizio date NOT NULL,
    periodo_fine date NOT NULL,
    stato character varying(20) DEFAULT 'bozza'::character varying NOT NULL,
    pdf_path text,
    pdf_firmato_path text,
    totale_entrate numeric(12,2) DEFAULT 0,
    totale_uscite numeric(12,2) DEFAULT 0,
    saldo numeric(12,2) DEFAULT 0,
    osservazioni_economo text,
    allegato_economo_path text,
    allegato_risposta_parroco_path text,
    data_invio timestamp without time zone DEFAULT now(),
    data_revisione timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone DEFAULT now(),
    parroco_nome character varying(200),
    firma_vescovo_path text,
    timbro_diocesi_path text,
    vescovo_nome character varying(200),
    luogo_firma character varying(100) DEFAULT 'Caltagirone'::character varying
);


ALTER TABLE public.rendiconti OWNER TO parrocchia;

--
-- Name: rendiconti_allegati; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.rendiconti_allegati (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rendiconto_id uuid NOT NULL,
    filename character varying(255) NOT NULL,
    filepath text NOT NULL,
    mime_type character varying(100),
    file_size integer,
    tipo character varying(50) NOT NULL,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT rendiconti_allegati_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['respingimento'::character varying, 'altro'::character varying])::text[])))
);


ALTER TABLE public.rendiconti_allegati OWNER TO parrocchia;

--
-- Name: rendiconti_documenti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.rendiconti_documenti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rendiconto_id uuid NOT NULL,
    tipo_documento character varying(100) NOT NULL,
    nome_file character varying(255) NOT NULL,
    tipo_file character varying(50) NOT NULL,
    dimensione integer NOT NULL,
    path_storage text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.rendiconti_documenti OWNER TO parrocchia;

--
-- Name: TABLE rendiconti_documenti; Type: COMMENT; Schema: public; Owner: parrocchia
--

COMMENT ON TABLE public.rendiconti_documenti IS 'Documenti obbligatori da allegare all''invio del rendiconto alla Diocesi';


--
-- Name: COLUMN rendiconti_documenti.tipo_documento; Type: COMMENT; Schema: public; Owner: parrocchia
--

COMMENT ON COLUMN public.rendiconti_documenti.tipo_documento IS 'Tipologia: verbale_caep, estratto_bancario, imu_tari, fornitura_idrica, agenzia_entrate';


--
-- Name: template_categorie_diocesano; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.template_categorie_diocesano (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    codice character varying(20) NOT NULL,
    descrizione character varying(200) NOT NULL,
    categoria_padre_id uuid,
    livello integer DEFAULT 1 NOT NULL,
    ordine integer DEFAULT 0 NOT NULL,
    attivo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.template_categorie_diocesano OWNER TO parrocchia;

--
-- Name: utenti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.utenti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    titolo character varying(50),
    nome character varying(100),
    cognome character varying(100),
    attivo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    is_economo boolean DEFAULT false
);


ALTER TABLE public.utenti OWNER TO parrocchia;

--
-- Name: utenti_enti; Type: TABLE; Schema: public; Owner: parrocchia
--

CREATE TABLE public.utenti_enti (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    utente_id uuid,
    ente_id uuid,
    ruolo character varying(50) DEFAULT 'operatore'::character varying,
    permessi jsonb DEFAULT '{"anagrafica": true, "inventario": false, "contabilita": false}'::jsonb,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.utenti_enti OWNER TO parrocchia;

--
-- Data for Name: allegati_movimenti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.allegati_movimenti (id, movimento_id, nome_file, tipo_file, dimensione_kb, path_file, note, uploaded_by, created_at) FROM stdin;
\.


--
-- Data for Name: attivita_pastorali; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.attivita_pastorali (id, ente_id, nome, tipo, descrizione, attivo, created_at) FROM stdin;
\.


--
-- Data for Name: battesimi; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.battesimi (id, persona_id, ente_id, data_battesimo, luogo, parrocchia, volume, pagina, numero_atto, celebrante, padrino, madrina, note, created_at) FROM stdin;
\.


--
-- Data for Name: beni_inventario; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.beni_inventario (id, ente_id, categoria_id, codice, nome, descrizione, ubicazione, valore_acquisto, data_acquisto, stato, foto_url, note, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: categorie_inventario; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.categorie_inventario (id, ente_id, nome, descrizione, created_at) FROM stdin;
\.


--
-- Data for Name: categorie_registri; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: comuni; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: cresime; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.cresime (id, persona_id, ente_id, data_cresima, luogo, parrocchia, volume, pagina, numero_atto, ministro, padrino, madrina, note, created_at) FROM stdin;
\.


--
-- Data for Name: defunti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.defunti (id, persona_id, ente_id, data_morte, luogo_morte, causa_morte, luogo_sepoltura, data_funerale, celebrante, note, created_at) FROM stdin;
\.


--
-- Data for Name: enti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: famiglie; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.famiglie (id, ente_id, cognome, indirizzo, cap, comune, provincia, telefono, note, created_at) FROM stdin;
\.


--
-- Data for Name: matrimoni; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.matrimoni (id, sposo_id, sposa_id, ente_id, data_matrimonio, luogo, parrocchia, volume, pagina, numero_atto, celebrante, testimone1_sposo, testimone2_sposo, testimone1_sposa, testimone2_sposa, rito, note, created_at) FROM stdin;
\.


--
-- Data for Name: movimenti_allegati; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.movimenti_allegati (id, movimento_id, nome_file, nome_originale, tipo_file, dimensione, percorso, created_at) FROM stdin;
\.


--
-- Data for Name: movimenti_contabili; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: parrocchie_diocesi; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.parrocchie_diocesi (id, comune, denominazione, provincia, cap, created_at, updated_at, diocesi) FROM stdin;
83a10d9d-b0cb-430c-9a1e-bc365120b6aa	Caltagirone	San Francesco di Paola	CT	95041	2025-11-15 12:36:55.222016	2025-11-15 12:36:55.222016	Caltagirone
05364ebd-2314-46c7-b2d1-52e22546989b	Caltagirone	San Pietro	CT	95041	2025-11-15 12:37:44.868809	2025-11-15 12:37:44.868809	Caltagirone
\.


--
-- Data for Name: persone; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: persone_attivita; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.persone_attivita (persona_id, attivita_id, data_inizio, data_fine, incarico, note) FROM stdin;
\.


--
-- Data for Name: persone_famiglie; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.persone_famiglie (persona_id, famiglia_id, parentela, ordine) FROM stdin;
\.


--
-- Data for Name: piano_conti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: prime_comunioni; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.prime_comunioni (id, persona_id, ente_id, data_comunione, luogo, parrocchia, celebrante, note, created_at) FROM stdin;
\.


--
-- Data for Name: registri_contabili; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.registri_contabili (id, ente_id, nome, tipo, saldo_attuale, attivo, created_at, descrizione) FROM stdin;
2ca42ae4-11b0-4f3a-b374-85d180acb4e1	97bfa19e-7384-4f36-b55e-04420dd4621a	Parrocchia	cassa	0.00	t	2025-11-26 19:57:58.914708	\N
7a007762-ebcc-4126-8fd6-f636fd6571fe	97bfa19e-7384-4f36-b55e-04420dd4621a	Unicredit	banca	0.00	t	2025-11-26 20:38:56.70692	\N
b5895317-f479-4e28-a5ee-132f8a391952	97bfa19e-7384-4f36-b55e-04420dd4621a	San Francesco	prepagata	0.00	t	2025-11-26 20:39:28.782403	\N
\.


--
-- Data for Name: rendiconti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.rendiconti (id, ente_id, periodo_inizio, periodo_fine, stato, pdf_path, pdf_firmato_path, totale_entrate, totale_uscite, saldo, osservazioni_economo, allegato_economo_path, allegato_risposta_parroco_path, data_invio, data_revisione, created_by, updated_at, parroco_nome, firma_vescovo_path, timbro_diocesi_path, vescovo_nome, luogo_firma) FROM stdin;
\.


--
-- Data for Name: rendiconti_allegati; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.rendiconti_allegati (id, rendiconto_id, filename, filepath, mime_type, file_size, tipo, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: rendiconti_documenti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.rendiconti_documenti (id, rendiconto_id, tipo_documento, nome_file, tipo_file, dimensione, path_storage, created_at) FROM stdin;
\.


--
-- Data for Name: template_categorie_diocesano; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: utenti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--



--
-- Data for Name: utenti_enti; Type: TABLE DATA; Schema: public; Owner: parrocchia
--

COPY public.utenti_enti (id, utente_id, ente_id, ruolo, permessi, created_at) FROM stdin;
3237dc0b-22d4-4c73-a6e9-31948aed667d	449c98ca-5c14-490f-bf6d-a53eff060b5e	97bfa19e-7384-4f36-b55e-04420dd4621a	parroco	{"anagrafica": false, "inventario": false, "contabilita": true}	2025-11-26 19:54:55.645991
\.


--
-- Name: allegati_movimenti allegati_movimenti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.allegati_movimenti
    ADD CONSTRAINT allegati_movimenti_pkey PRIMARY KEY (id);


--
-- Name: attivita_pastorali attivita_pastorali_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.attivita_pastorali
    ADD CONSTRAINT attivita_pastorali_pkey PRIMARY KEY (id);


--
-- Name: battesimi battesimi_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.battesimi
    ADD CONSTRAINT battesimi_pkey PRIMARY KEY (id);


--
-- Name: beni_inventario beni_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.beni_inventario
    ADD CONSTRAINT beni_inventario_pkey PRIMARY KEY (id);


--
-- Name: categorie_inventario categorie_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.categorie_inventario
    ADD CONSTRAINT categorie_inventario_pkey PRIMARY KEY (id);


--
-- Name: categorie_registri categorie_registri_categoria_id_registro_id_key; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.categorie_registri
    ADD CONSTRAINT categorie_registri_categoria_id_registro_id_key UNIQUE (categoria_id, registro_id);


--
-- Name: categorie_registri categorie_registri_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.categorie_registri
    ADD CONSTRAINT categorie_registri_pkey PRIMARY KEY (id);


--
-- Name: comuni comuni_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.comuni
    ADD CONSTRAINT comuni_pkey PRIMARY KEY (id);


--
-- Name: cresime cresime_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.cresime
    ADD CONSTRAINT cresime_pkey PRIMARY KEY (id);


--
-- Name: defunti defunti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.defunti
    ADD CONSTRAINT defunti_pkey PRIMARY KEY (id);


--
-- Name: enti enti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.enti
    ADD CONSTRAINT enti_pkey PRIMARY KEY (id);


--
-- Name: famiglie famiglie_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.famiglie
    ADD CONSTRAINT famiglie_pkey PRIMARY KEY (id);


--
-- Name: matrimoni matrimoni_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.matrimoni
    ADD CONSTRAINT matrimoni_pkey PRIMARY KEY (id);


--
-- Name: movimenti_allegati movimenti_allegati_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_allegati
    ADD CONSTRAINT movimenti_allegati_pkey PRIMARY KEY (id);


--
-- Name: movimenti_contabili movimenti_contabili_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_contabili
    ADD CONSTRAINT movimenti_contabili_pkey PRIMARY KEY (id);


--
-- Name: parrocchie_diocesi parrocchie_diocesi_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.parrocchie_diocesi
    ADD CONSTRAINT parrocchie_diocesi_pkey PRIMARY KEY (id);


--
-- Name: persone_attivita persone_attivita_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone_attivita
    ADD CONSTRAINT persone_attivita_pkey PRIMARY KEY (persona_id, attivita_id);


--
-- Name: persone_famiglie persone_famiglie_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone_famiglie
    ADD CONSTRAINT persone_famiglie_pkey PRIMARY KEY (persona_id, famiglia_id);


--
-- Name: persone persone_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone
    ADD CONSTRAINT persone_pkey PRIMARY KEY (id);


--
-- Name: piano_conti piano_conti_ente_id_codice_key; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.piano_conti
    ADD CONSTRAINT piano_conti_ente_id_codice_key UNIQUE (ente_id, codice);


--
-- Name: piano_conti piano_conti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.piano_conti
    ADD CONSTRAINT piano_conti_pkey PRIMARY KEY (id);


--
-- Name: prime_comunioni prime_comunioni_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.prime_comunioni
    ADD CONSTRAINT prime_comunioni_pkey PRIMARY KEY (id);


--
-- Name: registri_contabili registri_contabili_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.registri_contabili
    ADD CONSTRAINT registri_contabili_pkey PRIMARY KEY (id);


--
-- Name: rendiconti_allegati rendiconti_allegati_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti_allegati
    ADD CONSTRAINT rendiconti_allegati_pkey PRIMARY KEY (id);


--
-- Name: rendiconti_documenti rendiconti_documenti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti_documenti
    ADD CONSTRAINT rendiconti_documenti_pkey PRIMARY KEY (id);


--
-- Name: rendiconti rendiconti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti
    ADD CONSTRAINT rendiconti_pkey PRIMARY KEY (id);


--
-- Name: template_categorie_diocesano template_categorie_diocesano_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.template_categorie_diocesano
    ADD CONSTRAINT template_categorie_diocesano_pkey PRIMARY KEY (id);


--
-- Name: rendiconti_documenti uq_rendiconto_tipo; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti_documenti
    ADD CONSTRAINT uq_rendiconto_tipo UNIQUE (rendiconto_id, tipo_documento);


--
-- Name: utenti utenti_email_key; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.utenti
    ADD CONSTRAINT utenti_email_key UNIQUE (email);


--
-- Name: utenti_enti utenti_enti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.utenti_enti
    ADD CONSTRAINT utenti_enti_pkey PRIMARY KEY (id);


--
-- Name: utenti_enti utenti_enti_utente_id_ente_id_key; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.utenti_enti
    ADD CONSTRAINT utenti_enti_utente_id_ente_id_key UNIQUE (utente_id, ente_id);


--
-- Name: utenti utenti_pkey; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.utenti
    ADD CONSTRAINT utenti_pkey PRIMARY KEY (id);


--
-- Name: utenti utenti_username_key; Type: CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.utenti
    ADD CONSTRAINT utenti_username_key UNIQUE (username);


--
-- Name: idx_allegati_movimento; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_allegati_movimento ON public.allegati_movimenti USING btree (movimento_id);


--
-- Name: idx_battesimi_data; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_battesimi_data ON public.battesimi USING btree (data_battesimo);


--
-- Name: idx_battesimi_persona; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_battesimi_persona ON public.battesimi USING btree (persona_id);


--
-- Name: idx_beni_categoria; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_beni_categoria ON public.beni_inventario USING btree (categoria_id);


--
-- Name: idx_beni_ente; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_beni_ente ON public.beni_inventario USING btree (ente_id);


--
-- Name: idx_categorie_registri_categoria; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_categorie_registri_categoria ON public.categorie_registri USING btree (categoria_id);


--
-- Name: idx_categorie_registri_registro; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_categorie_registri_registro ON public.categorie_registri USING btree (registro_id);


--
-- Name: idx_comuni_nome; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_comuni_nome ON public.comuni USING btree (nome);


--
-- Name: idx_comuni_provincia; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_comuni_provincia ON public.comuni USING btree (provincia);


--
-- Name: idx_cresime_persona; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_cresime_persona ON public.cresime USING btree (persona_id);


--
-- Name: idx_mov_data; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_mov_data ON public.movimenti_contabili USING btree (data_movimento);


--
-- Name: idx_mov_ente; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_mov_ente ON public.movimenti_contabili USING btree (ente_id);


--
-- Name: idx_mov_registro; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_mov_registro ON public.movimenti_contabili USING btree (registro_id);


--
-- Name: idx_movimenti_allegati_movimento; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_movimenti_allegati_movimento ON public.movimenti_allegati USING btree (movimento_id);


--
-- Name: idx_movimenti_bloccato; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_movimenti_bloccato ON public.movimenti_contabili USING btree (bloccato);


--
-- Name: idx_movimenti_data; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_movimenti_data ON public.movimenti_contabili USING btree (data_movimento);


--
-- Name: idx_movimenti_registro; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_movimenti_registro ON public.movimenti_contabili USING btree (registro_id);


--
-- Name: idx_movimenti_rendiconto; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_movimenti_rendiconto ON public.movimenti_contabili USING btree (rendiconto_id);


--
-- Name: idx_parrocchie_diocesi_comune; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_parrocchie_diocesi_comune ON public.parrocchie_diocesi USING btree (comune);


--
-- Name: idx_persone_cognome; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_persone_cognome ON public.persone USING btree (cognome);


--
-- Name: idx_persone_comune; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_persone_comune ON public.persone USING btree (comune);


--
-- Name: idx_persone_data_nascita; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_persone_data_nascita ON public.persone USING btree (data_nascita);


--
-- Name: idx_persone_ente; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_persone_ente ON public.persone USING btree (ente_id);


--
-- Name: idx_persone_nome; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_persone_nome ON public.persone USING btree (nome);


--
-- Name: idx_rendiconti_allegati_rendiconto; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_rendiconti_allegati_rendiconto ON public.rendiconti_allegati USING btree (rendiconto_id);


--
-- Name: idx_rendiconti_documenti_rendiconto; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_rendiconti_documenti_rendiconto ON public.rendiconti_documenti USING btree (rendiconto_id);


--
-- Name: idx_rendiconti_documenti_tipo; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_rendiconti_documenti_tipo ON public.rendiconti_documenti USING btree (tipo_documento);


--
-- Name: idx_rendiconti_ente; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_rendiconti_ente ON public.rendiconti USING btree (ente_id);


--
-- Name: idx_rendiconti_periodo; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_rendiconti_periodo ON public.rendiconti USING btree (periodo_inizio, periodo_fine);


--
-- Name: idx_rendiconti_stato; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_rendiconti_stato ON public.rendiconti USING btree (stato);


--
-- Name: idx_template_cat_livello; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_template_cat_livello ON public.template_categorie_diocesano USING btree (livello);


--
-- Name: idx_template_cat_ordine; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_template_cat_ordine ON public.template_categorie_diocesano USING btree (ordine);


--
-- Name: idx_template_cat_padre; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_template_cat_padre ON public.template_categorie_diocesano USING btree (categoria_padre_id);


--
-- Name: idx_template_categorie_padre; Type: INDEX; Schema: public; Owner: parrocchia
--

CREATE INDEX idx_template_categorie_padre ON public.template_categorie_diocesano USING btree (categoria_padre_id);


--
-- Name: allegati_movimenti allegati_movimenti_movimento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.allegati_movimenti
    ADD CONSTRAINT allegati_movimenti_movimento_id_fkey FOREIGN KEY (movimento_id) REFERENCES public.movimenti_contabili(id) ON DELETE CASCADE;


--
-- Name: allegati_movimenti allegati_movimenti_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.allegati_movimenti
    ADD CONSTRAINT allegati_movimenti_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.utenti(id);


--
-- Name: attivita_pastorali attivita_pastorali_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.attivita_pastorali
    ADD CONSTRAINT attivita_pastorali_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: battesimi battesimi_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.battesimi
    ADD CONSTRAINT battesimi_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: battesimi battesimi_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.battesimi
    ADD CONSTRAINT battesimi_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.persone(id) ON DELETE CASCADE;


--
-- Name: beni_inventario beni_inventario_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.beni_inventario
    ADD CONSTRAINT beni_inventario_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorie_inventario(id);


--
-- Name: beni_inventario beni_inventario_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.beni_inventario
    ADD CONSTRAINT beni_inventario_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.utenti(id);


--
-- Name: beni_inventario beni_inventario_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.beni_inventario
    ADD CONSTRAINT beni_inventario_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: categorie_inventario categorie_inventario_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.categorie_inventario
    ADD CONSTRAINT categorie_inventario_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: categorie_registri categorie_registri_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.categorie_registri
    ADD CONSTRAINT categorie_registri_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.piano_conti(id) ON DELETE CASCADE;


--
-- Name: categorie_registri categorie_registri_registro_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.categorie_registri
    ADD CONSTRAINT categorie_registri_registro_id_fkey FOREIGN KEY (registro_id) REFERENCES public.registri_contabili(id) ON DELETE CASCADE;


--
-- Name: cresime cresime_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.cresime
    ADD CONSTRAINT cresime_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: cresime cresime_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.cresime
    ADD CONSTRAINT cresime_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.persone(id) ON DELETE CASCADE;


--
-- Name: defunti defunti_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.defunti
    ADD CONSTRAINT defunti_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: defunti defunti_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.defunti
    ADD CONSTRAINT defunti_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.persone(id) ON DELETE CASCADE;


--
-- Name: enti enti_diocesi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.enti
    ADD CONSTRAINT enti_diocesi_id_fkey FOREIGN KEY (diocesi_id) REFERENCES public.enti(id);


--
-- Name: famiglie famiglie_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.famiglie
    ADD CONSTRAINT famiglie_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id) ON DELETE CASCADE;


--
-- Name: matrimoni matrimoni_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.matrimoni
    ADD CONSTRAINT matrimoni_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: matrimoni matrimoni_sposa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.matrimoni
    ADD CONSTRAINT matrimoni_sposa_id_fkey FOREIGN KEY (sposa_id) REFERENCES public.persone(id);


--
-- Name: matrimoni matrimoni_sposo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.matrimoni
    ADD CONSTRAINT matrimoni_sposo_id_fkey FOREIGN KEY (sposo_id) REFERENCES public.persone(id);


--
-- Name: movimenti_allegati movimenti_allegati_movimento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_allegati
    ADD CONSTRAINT movimenti_allegati_movimento_id_fkey FOREIGN KEY (movimento_id) REFERENCES public.movimenti_contabili(id) ON DELETE CASCADE;


--
-- Name: movimenti_contabili movimenti_contabili_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_contabili
    ADD CONSTRAINT movimenti_contabili_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.piano_conti(id) ON DELETE SET NULL;


--
-- Name: movimenti_contabili movimenti_contabili_conto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_contabili
    ADD CONSTRAINT movimenti_contabili_conto_id_fkey FOREIGN KEY (conto_id) REFERENCES public.piano_conti(id);


--
-- Name: movimenti_contabili movimenti_contabili_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_contabili
    ADD CONSTRAINT movimenti_contabili_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.utenti(id);


--
-- Name: movimenti_contabili movimenti_contabili_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_contabili
    ADD CONSTRAINT movimenti_contabili_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: movimenti_contabili movimenti_contabili_registro_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_contabili
    ADD CONSTRAINT movimenti_contabili_registro_id_fkey FOREIGN KEY (registro_id) REFERENCES public.registri_contabili(id);


--
-- Name: movimenti_contabili movimenti_contabili_rendiconto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.movimenti_contabili
    ADD CONSTRAINT movimenti_contabili_rendiconto_id_fkey FOREIGN KEY (rendiconto_id) REFERENCES public.rendiconti(id);


--
-- Name: persone_attivita persone_attivita_attivita_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone_attivita
    ADD CONSTRAINT persone_attivita_attivita_id_fkey FOREIGN KEY (attivita_id) REFERENCES public.attivita_pastorali(id) ON DELETE CASCADE;


--
-- Name: persone_attivita persone_attivita_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone_attivita
    ADD CONSTRAINT persone_attivita_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.persone(id) ON DELETE CASCADE;


--
-- Name: persone persone_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone
    ADD CONSTRAINT persone_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.utenti(id);


--
-- Name: persone persone_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone
    ADD CONSTRAINT persone_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id) ON DELETE CASCADE;


--
-- Name: persone_famiglie persone_famiglie_famiglia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone_famiglie
    ADD CONSTRAINT persone_famiglie_famiglia_id_fkey FOREIGN KEY (famiglia_id) REFERENCES public.famiglie(id) ON DELETE CASCADE;


--
-- Name: persone_famiglie persone_famiglie_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone_famiglie
    ADD CONSTRAINT persone_famiglie_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.persone(id) ON DELETE CASCADE;


--
-- Name: persone persone_parrocchia_appartenenza_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.persone
    ADD CONSTRAINT persone_parrocchia_appartenenza_id_fkey FOREIGN KEY (parrocchia_appartenenza_id) REFERENCES public.enti(id);


--
-- Name: piano_conti piano_conti_categoria_padre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.piano_conti
    ADD CONSTRAINT piano_conti_categoria_padre_id_fkey FOREIGN KEY (categoria_padre_id) REFERENCES public.piano_conti(id) ON DELETE CASCADE;


--
-- Name: piano_conti piano_conti_conto_padre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.piano_conti
    ADD CONSTRAINT piano_conti_conto_padre_id_fkey FOREIGN KEY (conto_padre_id) REFERENCES public.piano_conti(id);


--
-- Name: piano_conti piano_conti_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.piano_conti
    ADD CONSTRAINT piano_conti_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: prime_comunioni prime_comunioni_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.prime_comunioni
    ADD CONSTRAINT prime_comunioni_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: prime_comunioni prime_comunioni_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.prime_comunioni
    ADD CONSTRAINT prime_comunioni_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.persone(id) ON DELETE CASCADE;


--
-- Name: registri_contabili registri_contabili_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.registri_contabili
    ADD CONSTRAINT registri_contabili_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id);


--
-- Name: rendiconti_allegati rendiconti_allegati_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti_allegati
    ADD CONSTRAINT rendiconti_allegati_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.utenti(id);


--
-- Name: rendiconti_allegati rendiconti_allegati_rendiconto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti_allegati
    ADD CONSTRAINT rendiconti_allegati_rendiconto_id_fkey FOREIGN KEY (rendiconto_id) REFERENCES public.rendiconti(id) ON DELETE CASCADE;


--
-- Name: rendiconti rendiconti_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti
    ADD CONSTRAINT rendiconti_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.utenti(id);


--
-- Name: rendiconti_documenti rendiconti_documenti_rendiconto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti_documenti
    ADD CONSTRAINT rendiconti_documenti_rendiconto_id_fkey FOREIGN KEY (rendiconto_id) REFERENCES public.rendiconti(id) ON DELETE CASCADE;


--
-- Name: rendiconti rendiconti_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.rendiconti
    ADD CONSTRAINT rendiconti_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id) ON DELETE CASCADE;


--
-- Name: template_categorie_diocesano template_categorie_diocesano_categoria_padre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.template_categorie_diocesano
    ADD CONSTRAINT template_categorie_diocesano_categoria_padre_id_fkey FOREIGN KEY (categoria_padre_id) REFERENCES public.template_categorie_diocesano(id) ON DELETE CASCADE;


--
-- Name: utenti_enti utenti_enti_ente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.utenti_enti
    ADD CONSTRAINT utenti_enti_ente_id_fkey FOREIGN KEY (ente_id) REFERENCES public.enti(id) ON DELETE CASCADE;


--
-- Name: utenti_enti utenti_enti_utente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: parrocchia
--

ALTER TABLE ONLY public.utenti_enti
    ADD CONSTRAINT utenti_enti_utente_id_fkey FOREIGN KEY (utente_id) REFERENCES public.utenti(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict RNB0ggUkayFcku6QAfH3D0uWcMEW7JfNbqAtOdRppf25Tb3w8xfpOzttQ1QYAbi

